*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    color:#111;
}

.blog-hero{

    padding:100px 0;

}

.blog-header{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    margin-bottom:55px;

}

.blog-title{

    max-width:650px;

}

.blog-badge{

    display:inline-flex;

    align-items:center;

    gap:8px;

    padding:8px 14px;

    border-radius:999px;

    background:#EEF3FF;

    color:#2458E8;

    font-size:12px;

    margin-bottom:22px;

}

.blog-badge img{

    width:15px;

}

.blog-title h1{

    font-family:"Newsreader",serif;

    font-size:95px;

    font-weight:400;

    line-height:1;

    margin-bottom:18px;

}

.blog-line{

    width:120px;

    height:4px;

    background:#2458E8;

    border-radius:20px;

}

.blog-description{

    max-width:420px;

}

.blog-description p{

    font-size:19px;

    color:#555;

    line-height:1.8;

    margin-top: 70px;

}

.blog-categories{

    display:ruby-text;



    /* flex-wrap:wrap; */

    /* gap:12px; */

    margin-bottom:50px;

}

.blog-categories button{

    padding:12px 18px;

    border:1px solid #E5E5E5;

    border-radius:12px;

    background:white;

    cursor:pointer;

    transition:.25s;

    font-size:15px;

}

.blog-categories button:hover{

    border-color:#2458E8;

    color:#2458E8;

}

.blog-categories .active{

    background:#2458E8;

    color:white;

    border-color:#2458E8;

}

.featured-post{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:45px;

    align-items:center;

}

.featured-image img{

    width:100%;

    height:700px;

    object-fit:cover;

    border-radius:18px;

}

.post-category{

    color:#2458E8;

    font-size:14px;

    letter-spacing:1px;

    font-weight:100;

}

.featured-content h2{

    margin:18px 0 28px;

    font-family:"Newsreader",serif;

    font-size:52px;

    font-weight:500;

    line-height:1.08;

    font-style: italic;

}

.featured-content p{

    font-size:21px;

    line-height:1.8;

    color:#555;

    margin-bottom:40px;

}

.post-author{

    display:flex;

    flex-direction:column;

    gap:8px;

    margin-left: 60px;

}

.post-author strong{

    font-size:22px;
    font-weight: 100;

}

.post-author span{

    color:#777;

    font-size:17px;

}

.blog-posts{

    padding:80px 0 120px;

}

.posts-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:28px;

}

.post-card{

    background:#fff;

    border:1px solid #e7e7e7;

    border-radius:18px;

    padding:18px;

}

.post-card img{

    width:100%;

    height:220px;

    object-fit:cover;

    border-radius:14px;

    margin-bottom:22px;

}

.post-tag{

    font-size:12px;

    color:#1A56DB;

    font-weight:600;

}

.post-card h3{

    margin:12px 0 18px;

    font-family:"Newsreader",serif;

    font-size:34px;

    font-weight:400;

    line-height:1.2;

}

.post-card p{

    color:#666;

    line-height:1.8;

    margin-bottom:28px;

}

.post-footer{

    display:flex;

    align-items:center;

    gap:14px;

}

.author-avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#DCEAFF;

    color:#1A56DB;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:13px;

    font-weight:700;

}

.author-avatar.gray{

    background:#ECECEC;

    color:#444;

}

.author-avatar.green{

    background:#DDF6EF;

    color:#157A64;

}

.post-footer strong{

    display:block;

    margin-bottom:4px;

}

.post-footer span{

    font-size:13px;

    color:#777;

}

.large-card{

    grid-column:span 2;

    display:flex;

    gap:28px;

    align-items:center;

}

.large-card img{

    width:48%;

    margin:0;

    height:320px;

}

.large-content{

    flex:1;

}

.newsletter-card{

    background:#2458E8;

    color:white;

    border-radius:18px;

    padding:40px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.newsletter-card span{

    font-size:13px;

    opacity:.8;

}

.newsletter-card h2{

    margin:20px 0;

    font-family:"Newsreader",serif;

    font-size:46px;

    font-weight:400;

    line-height:1.15;

}

.newsletter-card p{

    line-height:1.8;

    opacity:.9;

    margin-bottom:30px;

}

.newsletter-card input{

    width:100%;

    padding:16px;

    border:none;

    border-radius:10px;

    margin-bottom:16px;

    outline:none;

}

.newsletter-card button{

    width:100%;

    padding:16px;

    border:1px solid rgba(255,255,255,.6);

    background:transparent;

    color:white;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.newsletter-card button:hover{

    background:white;

    color:#2458E8;

}