*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #111;
}


.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 60px;
}


.hero {
  padding: 80px 0;
}

.hero .container {
  display: flex;
  /* align-items: center; */
  gap: 150px;
}


.hero-left {
  flex: 1;
}


.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #eef2ff;
  color: #1A56DB;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  margin-bottom: 20px;
}


.title {
  font-family: "Newsreader", serif;
  font-size: 72px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 100;
}

.blue {
  color: #1A56DB;
  font-style: italic;
}


.desc {
  color: #555;
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 500px;
}


.hero-actions {
  display: flex;
  gap: 16px;
}

.note {
  margin-top: 10px;
  font-size: 13px;
  color: #6b7280;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

.btn-primary {
  background: #1A56DB;
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-secondary {
  border: 1px solid #ddd;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #111;
}


.hero-right img {
  width: 500px;
  border-radius: 16px;
}

.company-div{
background-color: #F2F1EF solid;
opacity: 100%;
    height: 200px;
    width: 202%;
    padding: 45px;
    color: white;
    margin: 0px 0px 0px -260px;

}

.company{
  margin: 200px;
}

.company-title{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 10;
  color: #3f4349;
  
}

.company-logo{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 54px;
}

.title-2{
  display: flex;
  font-size: 36px;
  font-weight: 100;
  color: #2b2c2e;
  font-family: "Newsreader", serif;
  line-height: 1.1;
  background: linear-gradient(#1A56DB, #1A56DB);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30% 4px; 
  padding-bottom: 90px; 
  display: inline-block;
  margin-top: 20px;
}

.badge2{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #eef2ff;
  color: #1A56DB;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  margin-bottom: 20px;
}

.badge2-description{
  font-size: 18px;
  font-weight: 100;
  color: #555;
  line-height: 1.4;

}

.title-3{
  display: flex;
  font-weight: 100;
  color: #111;
  font-family: "Newsreader", serif;
}

.picture-2{
  display: inline-block;
  position: relative;
  /* max-width: 400px; */
  transform: scale(1.2);
}

.picture-2 img{
  /* width: 100%; */
  display: block;
  /* object-fit: cover;
  position: static; */
  /* z-index: auto; */
}

.image-text{
  display: flex;
  font-size: 20px;
  gap: 10px;
  position: absolute;
  top: 10%;
  left: 9%;
  color: rgb(78, 139, 20);
  text-align: center;
  background-color: rgb(223, 223, 223);
  padding: 14px;
  border-radius: 999px;
  font-size: 15px;
}

.image-title{
  display: flex;
  font-family: "Newsreader", serif;
  font-weight: 100;
  font-size: 32px;
  gap: 10px;
  position: absolute;
  top: 25%;
  left: 10%;
  color: rgb(223, 223, 223);
}

.image-desc{
  display: flex;
  font-weight: 100;
  font-size: 16px;
  gap: 10px;
  position: absolute;
  top: 44%;
  left: 10%;
  color: rgb(223, 223, 223);
  line-height: 1.7;
}

.badge-3{
  display: inline-flex;
  align-items: center;
  gap: 15px;
  border-radius: 999px;
  font-size: 12px;
  margin-bottom: 20px;
  background-color: #0f766e;
  color: lightgray;
  font-weight: 100;
  font-size: 20px;
  padding: 20px;
}

.picture-3{
  display: flex;
  margin: 170px 0px 0px 33px;
}
/* .Features{
  display: flex;
  gap: 10px;
  height: 200px;
  margin-top: 50px;
}
.Features-1{
   background-color: #f4a016;
  width: 100px; 
  height: 100%;
  border-radius: 8px;
  padding: 170px;
}

.Features-1:hover{
  background-color: #f4a016;
} */

/* .badge-4{
  display: inline-flex;
  align-items: center;
  gap: 15px;
  border-radius: 999px;
  font-size: 12px;
  margin-bottom: 20px;
  background-color: #0f766e;
  color: lightgray;
  font-weight: 100;
  font-size: 20px;
  padding: 20px;
  
} */
.container-2{
  max-width: 1470px;
  margin: 100px auto;
  /* padding: 0 285px; */
  display: flex;
  /* align-items: center; */
  gap: 40px;
  justify-content: flex-start;
}
.card{
    width:405px;
    /* background:#F2A313; */
    padding:42px;
    border-radius:30px;
    /* margin-top: 110px; */
    border: 1px solid #e4e3df;
}

.badge-4{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding:12px 18px;
    /* background:#F7F1E8; */
    border-radius:999px;
    margin-bottom:32px;
}

.h2-card1{
    font-family: "Newsreader", serif;
    font-weight: 100;
    font-size:33px;
    line-height:1.05;
    margin-bottom:32px;
    color:#000;
}

.p-card1{
    max-width:360px;
    font-size:19px;
    line-height:1.8;
    color:#111;
}

.card:first-child:hover{
 background-color: #f4a016;
}

.card:nth-child(2):hover{
  background-color: green;
}

.card:last-child:hover{
  background-color: #c53535;
}

/* .Blue-back{
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: #1A56DB;
  width: 100%;
}
.h2-blue{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 20px;
} */


.stats-section{
    max-width:1500px;
    margin:0 auto;
    padding:80px 40px;
    background:#EEF2FB;
    text-align:center;
}

.stats-section h2{
    font-size:56px;
    margin-bottom:20px;
    font-family: "Newsreader", serif;
    font-weight: 500;
}

.subtitle{
    font-size:18px;
    color:#666;
    max-width:700px;
    margin:0 auto 60px;
    line-height:1.8;
}

.stats-container{
    display:flex;
    justify-content:center;
    gap:24px;
    flex-wrap:wrap;
    margin-bottom:50px;
}

.stat-card{
    width:260px;
    height:120px;
    background:white;
    border:1px solid #e3e3e3;
    border-radius:14px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* .highlight{
    background:#F8F2E8;
} */
 .stat-card:hover{
    background:#F8F2E8;
 }

.stat-card h3{
    color:#2456E5;
    font-size:54px;
    margin-bottom:10px;
    font-family: "Newsreader", serif;
}

.stat-card span{
    font-size:18px;
    color:#222;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:20px;
}

.btn-primary{
    background:#2456E5;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    cursor:pointer;
}

.btn-secondary{
    background:white;
    border:1px solid #d8d8d8;
    padding:15px 30px;
    border-radius:10px;
    cursor:pointer;
}

.note{
    font-style:italic;
    color:#444;
}